div {
    background-image: url("https://cdn.pixabay.com/photo/2017/11/10/12/53/face-2936245__340.jpg");
    background-size:cover;
   height:1000px;
    width:1000px;
    border:1.5px solid black;
    text-align:center;
    margin:0 auto;
}
p{
    padding-top:500px;
    color:gold;
    font-family:'Javanese Text';
    font-size:30px;
}
